Read occurrence file from Darwin Core Archive

In [59]:
import requests
import time
from dwca.read import DwCAReader

with DwCAReader('../data/0115308-200613084148143.zip') as dwca:
    occ = dwca.pd_read('occurrence.txt', parse_dates=False)\

occ.head(5)

,id,abstract,accessRights,accrualMethod,accrualPeriodicity,accrualPolicy,alternative,audience,available,bibliographicCitation,...,identifiedByID,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name,level3Gid,level3Name,geodeticDatum
0,144763223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"A. Atkinson, V. Siegel , E. Pakhomov, P. Rothe...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WGS84
1,144763222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"A. Atkinson, V. Siegel , E. Pakhomov, P. Rothe...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WGS84
2,144763221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"A. Atkinson, V. Siegel , E. Pakhomov, P. Rothe...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WGS84
3,144763220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"A. Atkinson, V. Siegel , E. Pakhomov, P. Rothe...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WGS84
4,144763219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"A. Atkinson, V. Siegel , E. Pakhomov, P. Rothe...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WGS84

Get unique taxonKey from occurrences

In [60]:
occ_taxa = occ[["scientificName", "taxonKey", "kingdomKey", "phylumKey", "classKey", "orderKey", "familyKey",
                "genusKey", "subgenusKey", "speciesKey", "kingdom", "phylum", "class", "order", "family", "genus",
                "subgenus", "specificEpithet"]]
# drop duplicated rows based on taxonKey
occ_taxa.drop_duplicates(['taxonKey'])

# all keys to list
fields = ["kingdomKey", "phylumKey", "classKey", "orderKey", "familyKey", "genusKey", "subgenusKey", "speciesKey"]
gbif_taxon_keys = list()
for field in fields:
    # drop all NA, all duplicate of that column and convert the column to list
    gbif_taxon_keys.extend(occ_taxa[field].dropna().drop_duplicates().to_list())
gbif_taxon_keys = set(gbif_taxon_keys)
gbif_taxon_keys

{1, 54, 229, 868, 2073, 2228004, 2228010}

Get GBIF taxon information per taxonKey

In [63]:
GBIF_BASE_URL = "https://api.gbif.org/v1/species/"
WORMS_DATASET_KEY = "2d59e5db-57ad-41ff-97d6-11f5fb264527"  # this is the datasetKey of WoRMS checklist in GBIF
aphia_ids = set()
gbif_worms_map = dict()  # a dictionary with key = gbif taxonKey, value = aphiaID

for gbif_taxon_key in gbif_taxon_keys:
    time.sleep(0.5)
    # url to get related name usages in other checklists
    taxon_url = "{}{}/related".format(GBIF_BASE_URL, gbif_taxon_key)
    response = requests.get(taxon_url)
    if response.status_code == 200:
        results = response.json().get("results")
        # might need to loop through next page if count is more than the limit
        for taxon in results:
            if taxon.get("datasetKey") == WORMS_DATASET_KEY:
                worms_taxon_id = taxon.get("taxonID")  # lsid looks like 'urn:lsid:marinespecies.org:taxname:394119'
                aphia_id = worms_taxon_id.split("taxname:")[1]  # the integers behind 'taxname:' is the aphiaID
                aphia_ids.add(aphia_id)
                gbif_worms_map[gbif_taxon_key] = aphia_id

print(gbif_worms_map)  # key = gbif taxonKey, value = aphiaID

{868: '1128', 2228004: '110673', 2228010: '236217', 2073: '110671'}

Get Aphia Attributes from WoRMS

In [62]:
WORMS_ATTR_BASE_URL = 'http://marinespecies.org/rest/AphiaAttributesByAphiaID/'
aphia_attribute_dict = dict()

for aphia_id in aphia_ids:
    time.sleep(0.5)
    worms_taxon_attr_url = "{}{}?include_inherited=false".format(WORMS_ATTR_BASE_URL,aphia_id)
    print(worms_taxon_attr_url)
    response = requests.get(worms_taxon_attr_url)
    if response.status_code == 200:
        results = response.json()
        aphia_attribute_dict[aphia_id] = results

print(aphia_attribute_dict)

http://marinespecies.org/rest/AphiaAttributesByAphiaID/236217?include_inherited=false
http://marinespecies.org/rest/AphiaAttributesByAphiaID/1128?include_inherited=false
http://marinespecies.org/rest/AphiaAttributesByAphiaID/110671?include_inherited=false
http://marinespecies.org/rest/AphiaAttributesByAphiaID/110673?include_inherited=false
{'236217': [{'AphiaID': '236217', 'measurementTypeID': 23, 'measurementType': 'Species importance to society', 'measurementValue': 'IUCN Red List', 'source_id': 127093, 'reference': 'IUCN Red List of Threatened Species', 'qualitystatus': 'unreviewed', 'AphiaID_Inherited': 236217, 'CategoryID': 13, 'children': [{'AphiaID': '236217', 'measurementTypeID': 1, 'measurementType': 'IUCN Red List Category', 'measurementValue': 'Least Concern', 'source_id': 127093, 'reference': 'IUCN Red List of Threatened Species', 'qualitystatus': 'unreviewed', 'AphiaID_Inherited': 236217, 'CategoryID': 1, 'children': [{'AphiaID': '236217', 'measurementTypeID': 3, 'measurementType': 'Year Assessed', 'measurementValue': '2015', 'source_id': 127093, 'reference': 'IUCN Red List of Threatened Species', 'qualitystatus': 'unreviewed', 'AphiaID_Inherited': 236217, 'CategoryID': None, 'children': []}]}]}], '1128': [{'AphiaID': '1128', 'measurementTypeID': 4, 'measurementType': 'Functional group', 'measurementValue': 'plankton > zooplankton', 'source_id': 40, 'reference': 'Brusca, R.C.; Brusca, G.J. (1990). Invertebrates. Sinauer Associates: Sunderland, MA (USA). ISBN 0-87893-098-1. 922 pp.', 'qualitystatus': 'unreviewed', 'AphiaID_Inherited': 1128, 'CategoryID': 7, 'children': [{'AphiaID': '1128', 'measurementTypeID': 12, 'measurementType': 'Stage', 'measurementValue': 'larva', 'source_id': 40, 'reference': 'Brusca, R.C.; Brusca, G.J. (1990). Invertebrates. Sinauer Associates: Sunderland, MA (USA). ISBN 0-87893-098-1. 922 pp.', 'qualitystatus': 'unreviewed', 'AphiaID_Inherited': 1128, 'CategoryID': 8, 'children': []}]}, {'AphiaID': '1128', 'measurementTypeID': 4, 'measurementType': 'Functional group', 'measurementValue': 'plankton > zooplankton', 'source_id': 40, 'reference': 'Brusca, R.C.; Brusca, G.J. (1990). Invertebrates. Sinauer Associates: Sunderland, MA (USA). ISBN 0-87893-098-1. 922 pp.', 'qualitystatus': 'unreviewed', 'AphiaID_Inherited': 1128, 'CategoryID': 7, 'children': [{'AphiaID': '1128', 'measurementTypeID': 12, 'measurementType': 'Stage', 'measurementValue': 'adult', 'source_id': 40, 'reference': 'Brusca, R.C.; Brusca, G.J. (1990). Invertebrates. Sinauer Associates: Sunderland, MA (USA). ISBN 0-87893-098-1. 922 pp.', 'qualitystatus': 'unreviewed', 'AphiaID_Inherited': 1128, 'CategoryID': 8, 'children': []}]}]}